name: docker login with linux

on: push
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:    
            - name: docker login 
              run: |
                echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
                -u "${{ secrets.DOCKER_USERNAME }}" \
                --password-stdin


 