name: docker login with action 
on: push
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:    
            - name: Docker Login
              uses: docker/login-action@v3.7.0
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}